<h1><%= @list.name %> List details</h1>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<ul>
<% @list.bookmarks.each do |bookmark|%>
<li class="card"><%= bookmark.movie.title %>
<%= bookmark.movie.overview %>
<%= bookmark.movie.poster_url %>
<%= bookmark.movie.rating %>

<%= link_to 'delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>

</li>
<% end %>
</ul>
<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<%= link_to "Return to main page", lists_path %>
