<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="banner">
    <div class="container">
    <h1>Movie List <strong>Vibes</strong></h1>
    <p>Create lists of your fav movies.</p>
  </div>
</div>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
